<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-md-4 sidebar shimmer">
        <div class="row">
          <div class="col-md-9 p-0">
            <input type="text" [(ngModel)]="city_name" class="form-control remove-box-shadow"
              placeholder="Procure a sua cidade">
          </div>
          <div class="col-md-3 p-0">
            <button class="btn btn-danger remove-border-radius" (click)="search()">Pesquisar</button>
          </div>
        </div>
        <div class="text-center">
          <img src="https://i.ibb.co/Kzkk59k/15.png" class="img-principal" width="50%" alt="">
        </div>
        <h2>{{ weather_forecast.main.feels_like }}°C</h2>
        <h4>{{ weather_forecast.name }}, {{country}}</h4>
        <hr>
        <span>Max: {{ weather_forecast.main.temp_max }} °C</span> <br>
        <span>Min: {{ weather_forecast.main.temp_min }} °C</span> <br>
        <span>Humidade: {{ weather_forecast.main.humidity }} %</span> <br>
        <span>Pressao: {{ weather_forecast.main.pressure }} Pa</span> <br>
      </div>
      <div class="col-md-8 main">
        <h3>Forecast</h3>
        <div class="row">
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/PZQXH8V/27.png" width="55" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/PZQXH8V/27.png" width="60" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/PZQXH8V/27.png" width="60" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/rb4rrJL/26.png" width="60" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/Kzkk59k/15.png" width="60" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-3 weather-card">
              <div class="card-body text-center">
                <h5 class="card-title">Quinta-feira</h5>
                <img src="https://i.ibb.co/PZQXH8V/27.png" width="60" height="50" alt="">
                <p class="card-text">17.4°C</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Exchange Rates</h3>
            <div class="card mb-3 weather-card" style="filter: blur(4px);">
              <div class="card-body">
                <h5 class="card-title"><span class="moeda">MZN </span><span class="ref_moeda">Moeda de Referencia</span>
                </h5>
                <div class="card-text">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>USD</td>
                        <td>92</td>
                      </tr>
                      <tr>
                        <td>CAD</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>GBP</td>
                        <td>1.9</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Other information</h3>
            <div class="row" style="filter: blur(4px);">
              <div class="col-md-6">
                <div class="card mb-3 weather-card">
                  <div class="card-body text-center">
                    <h5 class="card-title">558675876</h5>
                    <p class="card-text" style="color: grey;">current population</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3 weather-card">
                  <div class="card-body text-center">
                    <h5 class="card-title">1726</h5>
                    <p class="card-text" style="color: grey; ">GDP per capita</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3 weather-card">
                  <div class="card-body text-center">
                    <h5 class="card-title">558675876</h5>
                    <p class="card-text" style="color: grey;">current population</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3 weather-card">
                  <div class="card-body text-center">
                    <h5 class="card-title">1726</h5>
                    <p class="card-text" style="color: grey; ">GDP per capita</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="loaderBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  style="display: none;">
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p> Por favor aguarde..</p>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" id="loaderCloseBtn" data-bs-dismiss="modal" style="display: none;">Close</button>
    </div>
  </div>
</div>